In [1]:
a = "Pakistan"
print(a)

Pakistan

In [8]:
a = "PaKisTan ZinDa Bad"
print(a)

PaKisTan ZinDa Bad

In [10]:
a.capitalize() #srart word capital ho

'Pakistan zinda bad'

In [11]:
a.upper() # tamam big ho

'PAKISTAN ZINDA BAD'

In [12]:
a.lower()

'pakistan zinda bad'

a.center??

In [18]:
abc = """Saylani Welfer Trust
City: Karachi
Country: Pakistan
place:boys scout karachi"""
print(abc)

Saylani Welfer Trust
City: Karachi
Country: Pakistan
place:boys scout karachi

In [19]:
abc = '''Saylani Welfer Trust
City: Karachi
Country: Pakistan
place:boys scout karachi'''
print(abc)

Saylani Welfer Trust
City: Karachi
Country: Pakistan
place:boys scout karachi

In [6]:
a = print("Pakistan")

Pakistan

In [7]:
print(a)

None

In [8]:
a = print("pakistan") #
print(a)

pakistan
None

In [10]:
a = input("inter your name") # dymanic date

inter your namekamran rasheed

In [2]:
a = ("Pakistan")

In [3]:
print(a)

Pakistan

In [9]:
a = "PaKistan ZiNdaBad"
a.casefold

In [10]:
a.capitalize()

'Pakistan zindabad'

In [14]:
a.encode()

b'PaKistan ZiNdaBad'

In [15]:
a.format()

'PaKistan ZiNdaBad'

In [18]:
name = "My Name is KamRan raheed from tobA taKe sinG"
name.casefold()

'my name is kamran raheed from toba take sing'

In [19]:
name.encode()

b'My Name is KamRan raheed from tobA taKe sinG'

In [20]:
name.expandtabs()

'My Name is KamRan raheed from tobA taKe sinG'

In [21]:
name.format()

'My Name is KamRan raheed from tobA taKe sinG'

In [22]:
name.isalnum()

False

In [23]:
name.isalpha()

False

In [24]:
name.isascii()

True

In [25]:
name.isdigit()

False

In [26]:
name.isidentifier()

False

In [27]:
name.islower()

False

In [14]:
print? #isme sperate information nazar i ge.

In [28]:
name.isupper()

False

In [30]:
name.lower()

'my name is kamran raheed from toba take sing'

In [31]:
name.lstrip()

'My Name is KamRan raheed from tobA taKe sinG'

In [32]:
name.rsplit()

['My', 'Name', 'is', 'KamRan', 'raheed', 'from', 'tobA', 'taKe', 'sinG']

In [33]:
name.swapcase()

'mY nAME IS kAMrAN RAHEED FROM TOBa TAkE SINg'

In [36]:
name.title()

'My Name Is Kamran Raheed From Toba Take Sing'

In [13]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [37]:
a = "kamran"
b = "rasheed"
print(a + b)

kamranrasheed

In [38]:
a = 12
b = 13
print(a + b)

25

In [39]:
print(a+b)

25

In [40]:
print("a"+"b")

ab

In [41]:
print("a + b")

a + b

In [42]:
print("a+b")

a+b

In [13]:
name = input("inter your name")
father_name = input("father name")
roll_no = input("roll number")

abc = """

Name: {}
Father Name: {}
Roll No: {}
"""

print(abc.format(name, father_name, roll_no))

inter your namekamran rasheed
father nameabdul rasheed
roll number6082


Name: kamran rasheed
Father Name: abdul rasheed
Roll No: 6082

In [46]:
5 + 9

14

In [47]:
9-5

4

In [48]:
15/4

3.75

In [49]:
15//4

3

In [50]:
15//4.0

3.0

In [51]:
3*3

9

In [53]:
pemdas?

Object `pemdas` not found.

In [ ]:
# 2+6-4*3/(3*8)
 2+6-4*3/24
 2+6-12/24
 2+6-0.5
 8-0.5
 7.5

In [55]:
name = "kamran"
print(name)

kamran

In [57]:
name += "rasheed"
print(name)

kamranrasheedrasheed

In [58]:
print(name)

kamranrasheedrasheed

In [60]:
a = 5
print(a)

5

In [61]:
a += 6
print(a)

11

In [62]:
a -= 2
print(a)

9

In [63]:
a

9

In [64]:
a *= 2
a

18

In [65]:
a %= 2
a

0

In [66]:
a

0

In [67]:
print(a)

0

In [68]:
a = 18
a

18

In [69]:
a %= 2
a

0

In [70]:
5 == 5

True

In [72]:
5 >= 3

True

In [73]:
5 <= 3

False

In [74]:
5 <= 5

True

In [75]:
5 >= 5

True

In [76]:
5 >= 5 and 8 <= 8 and 7 >= 2

True

In [78]:
5 >= 4 or 4 >= 2 or 8 <= 5

True

In [79]:
5 >= 6 or 4 >= 2 or 8 <= 10

True

In [82]:
a = "abc"
b = "xyz"
c = 100


print(a,b,c)

abc xyz 100

In [83]:
print(a, b, c)

abc xyz 100

In [85]:
a = 3
b = 9
c = 1
a

3

In [86]:
print(a, b, c)

3 9 1

In [87]:
print(a + b + c)

13

In [88]:
a = input()
b = input()
a

20
30

'20'

In [89]:
a = '2'
b = '4'
c = '6'
print(a + b + c)

246

In [90]:
print(a+b+c)

246

In [91]:
int(a) + int(b)

6

In [1]:
5 == 5

True

In [2]:
5 ==3

False

In [3]:
5 > 3

True

In [4]:
5 > 6

False

In [5]:
5 > 4

True

In [6]:
8 >= 8

True

In [7]:
8 >= 7

True

In [8]:
8 >= 9

False

In [9]:
8 == 8 and 8 >= 8 and 10 <= 11 # shart he.lazmi,farz

True

In [10]:
8 == 8 and 8 >= 8 and 10 >= 11

False

In [11]:
8 == 8 or 8 >= 8 or 10 <= 11

True

In [12]:
8 == 8 or 8 >= 8 or 10 <= 11

True

In [13]:
8 == 8 or 8 >= 8 or 10 >= 11

True

In [14]:
8 == 8 & 8 >= 8 & 10 >= 1

True

In [15]:
8 == 8 | 8 >= 8 | 10 >= 12

False

In [17]:
8 == 8 or 8 >= 8 or 10 >= 12

True

In [23]:
a= "kamran rasheed"
b = "abdul rasheed"
c = 30
a, b, c

('kamran rasheed', 'abdul rasheed', 30)

In [24]:
a= "kamran rasheed"
b = "abdul rasheed"
c = 30
a + b + c

TypeError: can only concatenate str (not "int") to str

In [25]:
a= "kamran rasheed"
b = "abdul rasheed"
c = 30
a + b

'kamran rasheedabdul rasheed'

In [26]:
a + b

'kamran rasheedabdul rasheed'

In [2]:
a = input()
b = input()

kamran rasheed
abdul rasheed

In [3]:
a

'kamran rasheed '

In [4]:
b

'abdul rasheed'

In [6]:
a = 1 
b = 2
int(a) + int(b)

3

In [7]:
float(a) + float(b)

3.0

In [13]:
name = input("kamranrasheed")

if name == "kamranrasheed":
    print("teacher")
else: 
    print("student")

kamranrasheedsajid anwer
student

In [15]:
name = input("arif-ali")

if name == "arif-ali":
    print("admin")
else:
    print("clint")

arif-alisajidanwer
clint

In [22]:
name = input("inter name")

if name.upper() == "kamran-rasheed":
    print("owner")
else:
    print("clint")

inter nameKAMRAN-RASHEED
clint

In [23]:
name = input("inter name")

if name.lower() == "kamran-rasheed":
    print("owner")
else:
    print("clint")

inter namekamran-rasheed
owner

In [28]:
per = 100

if per >= 0 and per >= 33:
    print("Fail")

Fail

In [29]:
print(per)

100

In [61]:
per = input("total-number")

if per >= 0 and per <33:
    print("Fail")
elif per >= 33 and per <=45:
    print("E")
elif per >= 45 and per <=50:
    print("D")
elif per >= 50 and per <=60:
    print("C")
elif per >=60 and per <=75:
    print("B")
elif per >= 75 and per <=90:
    print("A")
elif per >=90 and per <=95:
    print("A+")
elif per >=95 and per <=99:
    print("A++")
else:
    print("not valid")

total-number67

TypeError: '>=' not supported between instances of 'str' and 'int'

In [62]:
names = ('kamran','adnan','wahab','fahad')
names

('kamran', 'adnan', 'wahab', 'fahad')

In [63]:
names[3] # index number

'fahad'

In [64]:
names[1]

'adnan'

In [65]:
names[0]

'kamran'

In [69]:
names[3] = ("usama")
names

TypeError: 'tuple' object does not support item assignment

In [70]:
names

('kamran', 'adnan', 'wahab', 'fahad')

In [4]:
print("names")

names

In [9]:
names = ('kamran','adnan','wahab','fahad')
names

('kamran', 'adnan', 'wahab', 'fahad')

In [14]:
print("names")

names